
<%- include("partials/header.ejs") %> 
<h1>Posts</h1>
<% if (locals.totalPosts) {%>
    <h3>Total Posts: <%= totalPosts %></h3>
<%}%>
<ol>
    <% posts.forEach((post, index) => { %>
        <li>
            <span> Title: <%= post.title %></span>
            <p>Topic: <%= post.topic %></p>
        </li>
    <% }); %>
</ol>



<%- include("partials/footer.ejs") %> 